.gray-bg {
    background-color: rgb(243, 243, 243);
    padding: 0px 5px;
}
.header {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-around;
    &-div {
        background-color: white;
        width: 25%;
        margin: 15px 5px;
        text-align: center;
        font-size: 16px;
        line-height: 12px;
    }
    &-text {
        color: rgb(110, 110, 110);
        padding: 15px 0px;
    }
    &-value {
        font-size: 28px; 
        padding: 10px 0px 30px 0px;
        color: rgb(2, 20, 187)
    }
}

.table {
    padding: 0px 15px;
    text-align: left;
    width: 100%;
    &-headers {
        height: 45px;
        background-color: rgb(243, 243, 243);
        &-div {
            width: 100%;
        }
    }
    &-rows {
        height: 35px;
        &-total {
            background-color: rgb(158, 158, 158);
            color: white;
            font-weight: bold;
        }
        &-checkbox {
            text-align: center;
            padding: 0px 5px;
        }
    }
    &-values {
        text-align: center;
        padding: 0px 10px;
        &-right {
            text-align: right;
        }
        &-percent {
            text-align: right;
            width: 55px;
        }
    }
    &-body {
        background-color: white;
    }
}

.body-bg {
    background-color: white;
}